h1 {
    display: flex;
    align-self: center;
}

.div__add_consumption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.btn__add_consumption {
    
    height: 50px;
    width: 50px;
    font-size: 50px;
    text-align: center;
}

span {
    padding-bottom: 50px;
    margin-bottom: 10px;

}