.div__itemList {
    width:100%;
}

header {
    width: auto;
    margin: 0;
    border: 2px black solid;
    position: sticky;
    top: 0;
}
.header {
    justify-content: space-between;
    text-align: center;
    display: flex;
    flex-flow: row;
    color: #ed1a37;
    background-color: white;
    text-shadow:
    3px  3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}
h1 {
    display: flex;
    align-self: center;
}


.div__add_consumption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.btn__add_consumption {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 50px;
    width: 50px;
    font-size: 50px;
    padding-bottom: 52px;
}

.item__name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 5px;
    color: #ed1a37;
    font-size: 25px;
    
}

.pageTitle {
    font-size: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 87%;
    margin: 5px;
    padding: 0;
    border: 3px solid black;
    background-color: #07703c;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-top: 15px;
    margin-bottom: 100px
}
.item__data {
    
    display: flex;
    flex-direction: row;
    margin:2px;
    background-color: white;
    color: #ed1a37;
    font-weight: bold;
}

.item__data_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item__data_title {
    text-align: center;
    border: 2px black solid;
    font-size: 13px;
    padding:2px;
    width: 60%;
}
.item__data_data {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    font-size: 20px;
    padding:2px;
    width: 40%;
    
}

.item__size {
    text-shadow:
    3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}