.trophy__name {
    text-align: center;
    margin: 0;
    padding-bottom: 3px;
    color: #ed1a37;
    text-shadow:
    3px  3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.trophy {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    flex-flow: column;
    width: 40%;
    margin: 10px;
    padding: 0;
    border: 3px solid black;
    background-color: #07703c;
}

.trophies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 15px;
    margin-bottom: 100px
}

.trophy__img {
    padding-top: 5px;
    width:50px;
    height: 58px;
}

.h3__trophy{
    margin-block-start: .5em;
    margin-block-end: .5em;
}