
.home{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.home__title {
    font-size: 48px;
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ed1a37;
    text-shadow:
    3px  3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
    background-color: white;
}

.home__title_div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: center;
    border: 2px solid black;
    margin: 20px;
    height: 300px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 0;
    background-color: white;
    width: 40%;
    text-align: center;
}

.auth {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.login__button {
    margin-top: 20px;
}

.btn__home {
    margin-bottom: 20px;
    height: 60px;
    width: 200px;
    font-size: 20px;
}

.btn {
    background-color: #07703c;
    color: #ed1a37;
    font-weight: bold;
    text-shadow:
    3px  3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}